@font-face {
  font-family: 'Songti SC';
  src: url(./Songti\ SC\ Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#remember {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
}

#header {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 50px;
  font-weight: 700;
  transition: opacity 0.5s linear;
}

#content {
  font-family: 'Helvetica', 'Arial', sans-serif;
  opacity: 0;
  transition: opacity 0.5s linear;
}

#prep {
}

#translation {
}

#attribution {
  font-style: italic;
}

#circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #000;
  cursor: pointer;
}

#spotlight {
  z-index: -50;
  position: fixed;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
}
