@font-face {
  font-family: 'Songti SC';
  src: url(./Songti\ SC\ Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#remember {
  font-family: 'Times New Roman', 'Songti SC', serif;
}

#content {
  transition: opacity 0.5s ease-in-out;
}
