@font-face {
  font-family: 'Songti SC';
  src: url(./Songti\ SC\ Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #f8f8f8;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

#header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  font-weight: 300;
  text-align: center;
  pointer-events: none;
  text-transform: lowercase;
}

#content-top,
#content-bottom {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s linear;
  max-width: 500px;
}

#content-top {
  top: 30%;
  left: 50%;
}

#content-bottom {
  bottom: 30%;
  left: 50%;
}

#prep {
}

#translation {
}

#attribution {
  font-style: italic;
}

#circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #000;
  cursor: pointer;
  transition: transform 0.1s linear;
}

#circle:hover {
  transform: translate(-50%, -50%) scale(1.05, 1.05);
}

#spotlight {
  z-index: -50;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  background: radial-gradient(circle, #5f62f9, #f8f8f8 300px);
}
